body {
  color: #000;
}

.btn-secondary {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

.pull-right {
  float: right;
}

.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}

.btn:focus,
.btn:hover {
  text-decoration: none;
}

.btn {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.reply_content {
  background: #f1f2f3;
  border-radius: 5px;
  margin: 15px 5px;
}

.reply_content a {
  color: #2980b9;
  font-weight: 400;
  text-decoration: none;
}

.reply_content img {
  border-radius: 5px;
}

.reply_content .reply_date {
  float: right;
}

.checkbox-inline,
.radio-inline {
  position: relative;
  display: inline-block;
  padding-left: 20px;
  margin-bottom: 0;
  font-weight: 400;
  vertical-align: middle;
  cursor: pointer;
}

form .submit #register_btn,
#edit_message_btn,
#edit_cancel_message_btn,
#edit_cancel_reply_btn,
#edit_reply_btn {
  background: #62af56;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#76BF6B), to(#3B8230));
  background-image: -webkit-linear-gradient(top, #76BF6B, #3B8230);
  background-image: -moz-linear-gradient(top, #76BF6B, #3B8230);
  border-color: #2d6324;
  color: #fff;
  text-shadow: rgb(0 0 0 / 50%) 0 -1px 0;
  padding: 8px 10px;
  display: inline;
  font-size: 110%;
  width: auto;
  cursor: pointer;
}

input[type=submit] {
  display: inline;
  font-size: 110%;
  width: auto;
}

pre {
  font-family: 'lucida grande', verdana, helvetica, arial, sans-serif;
  font-size: 15px;
  color: #343333;
  background: none;
  box-shadow: none;
  padding: 0px;
  white-space: pre-wrap;
  padding: 10px 0;
}

.reply_edited {
  color: gray;
}

.show-read-more .more-text {
  display: none;
}

.select2-container--default .select2-selection--single {
  background-color: #21262d;
  border-color: #21262d;
  border-top-color: #21262d;
  border-right-color-value: #21262d;
  border-bottom-color: #21262d;
  border-left-color-value: #21262d;
  height: 34px;
}

.banner {
  position: relative;
}

.banner a {
  position: absolute;
  text-decoration: none;
  top: 10px;
}

/* Navbar container */
.navbar {
  overflow: hidden;
  /*background-color: #333;*/
  font-family: Arial;
  float: right;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: right;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  /* Important for vertical align on mobile phones */
  margin: 0;
  /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
/*.navbar a:hover, .dropdown:hover .dropbtn {
  color: #c6c2c2;
}*/

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: #003d4c !important;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* pre{
  color: white;
} */